.print {
    &.grid-container {
        display: grid;
        grid-template-columns: repeat(6, 3.5cm);
        grid-auto-rows: 2.5cm;  // height of each box
        width: fit-content;
        height: auto;
        box-sizing: border-box;
        margin-right: 5px;
        margin-left: 5px;
    }

    .sticker {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        box-sizing: border-box;

        .number {
            font-size: 32px;
            font-weight: 700;
        }

        .char-and-date {
            display: flex;
            justify-content: center;
            gap: 1rem;
            font-size: 20px;
            direction: ltr;
        }
    }
}

.btns-wrap {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}